{% load staticfiles %}
<html>
    <head>
        <title>SegmentBiz</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <link href="{% static 'stores/stores.css' %} "rel="stylesheet">
    </head>
        <div class="page-header">
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'user_logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'user_login' %}">Login</a></li>
            {% endif %}
        </ul>            <h1><a href="/">SegmentBiz</a></h1>
        </div>
        <div class="content container">
            <div class="row">

                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>

            </div>
        </div>
    </body>
</html>


