{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link href=" {%static 'css/styles.css' %}" rel="stylesheet" />

    <title>SegmentBiz</title>

    <!-- Bootstrap core CSS -->
    <link href=" {%static 'bootstrap-4.0.0/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-collapse  bg-light fixed-top">
      <a class="navbar-brand" href="/home">SegmentBiz</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/stores/index_stores">Stores</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/products/">Products</a>
          </li>
        </ul>
        <form class="form-inline my-4 my-lg-0">
        <div>
           <a href="/home/register/" role="button">{% if user.is_authenticated %}
                <a href="{% url 'index' %}">Dashboard</a>
            {% else %}
                <a href="{% url 'register' %}">Sign up</a>
            {% endif %}</a>

         <a>
              {% if user.is_authenticated %}
                <a href="{% url 'user_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'user_login' %}">Login</a>
            {% endif %}</a>
        </div>
        </form>
      </div>
    </nav>>

{% block content %}
      <!--cards of posts-->
<div class="container cont">
<div class="col-lg-12 d-lg-block">

  </div>
  <div class="body card  col-lg-12 d-lg-block mb-5">

    <div class="card-deck ml-1 mr-1 mt-3">
    <div class="card cardset ">
      <div class="card-body">
      <img src="../../static/images/cards/istanbul-balat.jpg" class="img-fluid" alt=""/>
      <h5 class="card-title mt-2">A day in Istanbul	</h5>
      <a href="#" class="btn btn-dark btn-sm float-right">Read more...</a>
    </div>
    </div>

    <div class="card cardset ">
      <div class="card-body">
      <img src="../../static/images/cards/istanbul-boat-in-sea.jpg" class="img-fluid" alt=""/>
      <h5 class="card-title mt-2">A day in Istanbul	</h5>
       <a href="#" class="btn btn-dark btn-sm float-right">Read more...</a>
    </div>
    </div>

    <div class="card cardset ">
      <div class="card-body">
      <img src="../../static/images/cards/istanbul-fish-market.jpg" class="img-fluid" alt=""/>
      <h5 class="card-title mt-2">A day in Istanbul	</h5>
        <a href="#" class="btn btn-dark btn-sm float-right">Read more...</a>
    </div>
    </div>

        <div class="card cardset ">
      <div class="card-body">
      <img src="../../static/images/cards/istanbul-fish-market.jpg" class="img-fluid" alt=""/>
      <h5 class="card-title mt-2">A day in Istanbul	</h5>
        <a href="#" class="btn btn-dark btn-sm float-right">Read more...</a>
    </div>
    </div>

  </div>

  <!--cards of row2-->
  <div class="card-deck mt-5 ml-1 mr-1">
  <div class="card cardset ">
    <div class="card-body">
    <img src="../../static/images/cards/istanbul-balat.jpg" class="img-fluid" alt=""/>
    <h5 class="card-title mt-2">A day in Istanbul	</h5>
    <a href="#" class="btn btn-dark btn-sm float-right">Read more...</a>
  </div>
  </div>

  <div class="card cardset ">
    <div class="card-body">
    <img src="../../static/images/cards/istanbul-boat-in-sea.jpg" class="img-fluid" alt=""/>
    <h5 class="card-title mt-2">A day in Istanbul	</h5>
     <a href="#" class="btn btn-dark btn-sm float-right">Read more...</a>
  </div>
  </div>


  <div class="card cardset ">
    <div class="card-body">
    <img src="../../static/images/cards/istanbul-fish-market.jpg" class="img-fluid" alt=""/>
    <h5 class="card-title mt-2">A day in Istanbul	</h5>
      <a href="#" class="btn btn-dark btn-sm float-right">Read more...</a>
  </div>
  </div>

      <div class="card cardset ">
      <div class="card-body">
      <img src="../../static/images/cards/istanbul-fish-market.jpg" class="img-fluid" alt=""/>
      <h5 class="card-title mt-2">A day in Istanbul	</h5>
        <a href="#" class="btn btn-dark btn-sm float-right">Read more...</a>
    </div>
    </div>
  </div>



  <!--cards of row3-->
  <div class="card-deck mt-5 ml-1 mr-1 mb-5">
  <div class="card cardset ">
    <div class="card-body">
    <img src="../../static/images/cards/istanbul-balat.jpg" class="img-fluid" alt=""/>
    <h5 class="card-title mt-2">A day in Istanbul	</h5>
    <a href="#" class="btn btn-dark btn-sm float-right">Read more...</a>
  </div>
  </div>

  <div class="card cardset ">
    <div class="card-body">
    <img src="../../static/images/cards/istanbul-boat-in-sea.jpg" class="img-fluid" alt=""/>
    <h5 class="card-title mt-2">A day in Istanbul	</h5>
     <a href="#" class="btn btn-dark btn-sm float-right">Read more...</a>
  </div>
  </div>

  <div class="card cardset e">
    <div class="card-body">
    <img src="../../static/images/cards/istanbul-fish-market.jpg" class="img-fluid" alt=""/>
    <h5 class="card-title mt-2">A day in Istanbul	</h5>
      <a href="#" class="btn btn-dark btn-sm float-right">Read more...</a>
  </div>
  </div>

      <div class="card cardset ">
      <div class="card-body">
      <img src="../../static/images/cards/istanbul-fish-market.jpg" class="img-fluid" alt=""/>
      <h5 class="card-title mt-2">A day in Istanbul	</h5>
        <a href="#" class="btn btn-dark btn-sm float-right">Read more...</a>
    </div>
    </div>
  </div>
   </div>
  </div>
    {% endblock %}
    <!-- MAIN FOOTER -->
    <footer id="main-footer" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col text-center text-black">
            <div class="py-2 ">
              <h1 class="h3 ">SegmentBiz</h1>
              <br>
              <p>Copyright &copy; 2018</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'bootstrap-4.0.0/assets/js/vendor/popper.min.js' %}"></script>
	<script src=" {% static 'bootstrap-4.0.0/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
  </body>
</html>
