{% extends 'Index/home.html' %}
{% block content %}
    <div class="container cont">
    <div class="card text-center">
  <div class="card-header">
    Store Details
  </div>
     <div class="card-body">

    <h2 class="card-title">{{ get_store.name }}</h2>
    <p class="card-text">{{ get_store.type }}</p>

  </div>
</div>
    <div class="container cont">
    <h3>List of the products this store contains</h3>
    <div class="row">
     {% for details in store_detail %}
       <div>
          <div class="col-sm-3" style="margin-left: 47px">
               <div class="card" style="width: 18rem;">
                  <img class=" img-thumbnail" src="{{ details.image.url }}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{ details.name }}</h5>
                  </div>
                </div>
            </div>
            </div>
     {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}