.cont{
    margin-top:5% ;

}
.main-footer{
    color: white;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear:both;
}
.card {
      background-color: #fff;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: 0;
      font-family: 'Roboto', sans-serif;
  }

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.container{
    min-height: 100%;
}
.main{
    overflow: auto;
    padding-bottom: 100px;
}

th, td {
    padding: 15px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color: #fff;
}
table th {
    background-color: black;
    color: white;
}